<!-- base.html -->
{% load static %}

{% if user.is_superuser %}
<center><b>~signed in as superuser: you are able to view hidden posts~</b></center>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <title>   
        {% for me in personal %}
            {{ me.name|safe }}'s Website
        {% empty %}
            Your Name's Website
        {% endfor %}
    </title>
</head>
<body>

    <div class="headercontainer">
        <div class="headerleft">
            {% block images %}
                <a href="{% url 'personal' %}">
                    <img style="padding:5px" src="{% static 'topicons/user.png' %}" width="50px" height="50px">
                </a>
                <a href="{% url 'home' %}">
                    <img style="padding:5px" src="{% static 'topicons/housepink.png' %}" width="50px" height="50px">
                </a>
            {% endblock %}
        </div>
        <div>
            <center><h1 style="width: 200px">
                {% for me in personal %}
                    {{ me.name|safe }}
                {% empty %}
                    Your Name
                {% endfor %}
            </h1></center>
        </div>
        <div class="headerright">
            {% for me in personal %}
                <a href="{{ me.github_url }}" target="_blank">
                    <img style="padding:5px" src="{% static 'topicons/github.png' %}" width="50px" height="50px">
                </a>
                <a href="{{ me.linkedin_url }}" target="_blank">
                    <img style="padding:5px" src="{% static 'topicons/linkedin.png' %}" width="50px" height="50px">
                </a>
            {% empty %}
                <a href="https://github.com/" target="_blank">
                    <img style="padding:5px" src="{% static 'topicons/github.png' %}" width="50px" height="50px">
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <img style="padding:5px" src="{% static 'topicons/linkedin.png' %}" width="50px" height="50px">
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
