{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if post.shown == True or user.is_superuser %}
    <div class="pink-block" > 
        {% if post.icon %}
            <img src="{{ post.icon.url }}" width="200px" height="200px" class="rounded">
        {% endif %}
        <h1 class="rounded" >‎ {{ post.title }}</h1>
            {% if user.is_superuser %}
                <p>‎ shown = {{ post.shown }}</p>
            {% endif %}
            {% for tag in post.tags.all %}
            <span class="skill">{{ tag.name }}</span>
            {% endfor %}
    </div>
    <center>
        {% if post.show_github_url %}
            <a href="{{ post.github_url }}" target=”_blank”>
            <strong>(project github)</strong>
        {% endif %}
        </a>
    </center>
    <div class="big-underline rounded"></div>

    </head>
    <body>
    <div class="centrecontent">
        {{ post.description|safe }}
    <br>
    <center>
    <p><b>Media:</b></p>
        {% for video in post.videos.all %}
        <video style="max-height: 200px; width: auto;" controls>
            <source src="../../media/{{ video.video }}" type="video/mp4">
        </video>
        {% endfor %}

        {% for image in post.images.all %}
        <img src="../../media/{{ image.image }}" style="max-height: 200px; width: auto;">
        {% endfor %}
    </center>
{% else %}
    <div class="big-underline rounded"></div>
    <center><p>Error: post not found</p></center>
{% endif %}


{% endblock %}